@import './base.css';

:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-cursive: 'Handlee', cursive;

  --color-darkgray: #212529;
  --color-background: #343a40;
  --color-midgray: #495057;
  --color-lightgray: #adb5bd;
  --color-white: #fff;

  /* notes */
  --color-glue-strip: rgba(0, 0, 0, 0.076);
  --color-note-odd: #ff7eb9;
  --color-note-even: #7afcff;

  --color-open-modal-btn: #feff9c;
  --color-open-modal-btn-hover: #e8e9a2;

  --color-modal-btn: #007aff;
  --color-modal-btn-hover: #005ec2;

  --color-modal: rgba(0, 0, 0, 0.4);
  --color-modal-content: #feff9c;
}

body {
  display: flex;
  user-select: none;
  background-color: var(--color-background);
}

.sticky-note-style_body {
  width: 300px;
  height: 300px;
  padding: 0;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.notes-container {
  flex-grow: 1;
  overflow-y: auto;
  margin: 4rem 6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.sticky-note-style_note-container {
  margin: 0;
  height: 300px;
  overflow-y: auto;

  scroll-snap-type: y mandatory;
}

.notes-container::-webkit-scrollbar {
  display: none;
}

.note-wrapper {
  box-shadow: 19px 25px 47px -19px rgba(0, 0, 0, 0.56);
  position: relative;
  max-height: 300px;
  max-width: 300px;
}

.glue-strip {
  position: absolute;
  z-index: 999;
  width: 300px;
  height: 28px;
  background-color: var(--color-glue-strip);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
  -webkit-app-region: drag;
}

.sticky-note-style_note-wrapper {
  box-shadow: none;
  scroll-snap-align: start;
}

.note-wrapper:nth-child(odd) {
  background-color: var(--color-note-odd);
}

.note-wrapper:nth-child(even) .note {
  background-color: var(--color-note-even);
}

.note {
  color: var(--color-darkgray);

  overflow-wrap: break-word;
  white-space: normal;
  overflow: auto;

  padding: 2rem 2rem;
  width: 300px;
  height: 300px;
}

.note::-webkit-scrollbar {
  display: none;
}

.note > h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.note > p {
  font-size: 1.125rem;
}

.del-btn {
  color: var(--color-darkgray);
  position: absolute;
  bottom: 10px;
  right: 10px;

  background-color: transparent;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  cursor: pointer;
}

.del-btn:hover {
  width: 1.6rem;
}

/* Create note section */
.open-modal-btn {
  position: fixed;
  top: 1rem;
  right: 0.875rem;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0.625rem;
  border: none;
  border-radius: 8px;

  background-color: var(--color-open-modal-btn);
  color: var(--color-darkgray);

  font-family: var(--font-roboto);
  font-size: 0.875rem;
  font-weight: bold;

  cursor: pointer;
  transition: all 0.3s;
}

.open-modal-btn:hover,
.open-modal-btn:active {
  background-color: var(--color-open-modal-btn-hover);
}

.modal {
  display: none;
  position: fixed;
  background-color: var(--color-modal);
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: var(--color-modal-content);
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;

  color: var(--color-darkgray);
}

.close-modal {
  background-color: transparent;
  color: var(--color-modal-btn);
  border: none;
  cursor: pointer;
  margin-left: auto;
  display: block;
  transition: all 0.3s;
}

.close-modal:hover,
.close-modal:active {
  color: var(--color-modal-btn-hover);
}

.modal-content-container {
  display: flex;
  align-items: center;
}

.modal-content-container h2 {
  font-weight: bold;
}

.create-note-form input,
.create-note-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-lightgray);
  border-radius: 5px;
  font-family: var(--font-cursive);
}

.note-lable {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.125rem;
}

.add-note-btn {
  padding: 10px 10px;
  background-color: var(--color-modal-btn);
  border: none;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1.875rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-white);
  cursor: pointer;
  transition: all 0.3s;
}

.add-note-btn:hover,
.add-note-btn:active {
  background-color: var(--color-modal-btn-hover);
}

/* sticky modal */

.modal_sticky {
  display: none;
  position: fixed;
  background-color: var(--color-modal);
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content_sticky {
  background-color: var(--color-modal-content);
  padding: 20px;
  color: var(--color-darkgray);
}

.note-lable_sticky {
  display: block;
  margin-top: 0.6rem;
  font-weight: bold;
  font-size: 1.125rem;
}

.add-note-btn_sticky {
  padding: 10px 10px;
  background-color: var(--color-modal-btn);
  border: none;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 0.6rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-white);
  cursor: pointer;
  transition: all 0.3s;
}

/* Notebook */
.notebook-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 2rem 1fr;
  grid-template-areas:
    'side-bar top-bar'
    'side-bar editor';

  width: 100%;
  height: 100vh;
}

.note-bar {
  display: flex;
  flex-direction: column;

  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: scroll;

  min-width: 250px;
  background-color: var(--color-darkgray);
}

.note-bar::-webkit-scrollbar {
  display: none;
}

.note-bar-preview {
  font-family: var(--font-roboto);
  grid-area: side-bar;
  width: 100%;
  color: var(--color-lightgray);
  background-color: var(--color-background);
  text-align: left;
  border: none;
  border-bottom: 2px solid var(--color-darkgray);
  padding: 0.8rem;
  cursor: pointer;
}

.note-bar-preview > h2 {
  margin-bottom: 0.5rem;
}

.note-bar-preview > h2,
.note-bar-preview p,
.top-bar-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-bar-preview:hover,
.note-bar-preview-active {
  background-color: var(--color-midgray);
}

.note-bar-preview > h2 {
  font-size: large;
  font-weight: bold;
}

.note-bar-preview > p {
  margin-top: 0.2rem;
  font-size: small;
}

.notebook-top-bar {
  grid-area: top-bar;

  display: flex;
  align-items: center;
  justify-content: end;

  background-color: var(--color-background);
  height: 2rem;
  width: 100%;
}

.top-bar-title {
  margin-left: 2rem;
  margin-right: auto;
  max-width: 200px;
  font-family: var(--font-roboto);
  color: var(--color-lightgray);
}

.new-notebook-btn {
  font-family: var(--font-roboto);
  border: 1px solid var(--color-midgray);
  color: var(--color-lightgray);
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  padding: 0 0.875rem;
}

.new-notebook-btn:hover,
.new-notebook-btn:active {
  background-color: var(--color-midgray);
}

.new-notebook-btn {
  transition: all 0.1s;
}

.editor {
  grid-area: editor;
  background-color: var(--color-white);
  color: var(--color-darkgray);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

#editor {
  position: sticky;
  top: 0;
  overflow-y: auto;
}

@media (max-width: 720px) {
  p {
    font-size: 20px;
  }
}

.hidden {
  display: none;
}
