nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  min-width: 11rem;
  max-width: 11rem;
  height: 100vh;

  background-color: var(--color-background);
}

nav > button,
.nav-btn {
  font-family: var(--font-roboto);
  color: var(--color-lightgray);
  text-align: left;
  padding-left: 1.375rem;
  min-height: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

nav > button:hover,
.category-btn:hover {
  background-color: var(--color-midgray);
}

.btn-active {
  background-color: var(--color-midgray) !important;
}

.dropdown-menu {
  font-family: var(--font-roboto);
  display: block;
  height: 100%;
  background-color: var(--color-background);
  box-shadow: inset 0px 2px 3px 0px var(--color-midgray);
}

.category-btn {
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: left;
  padding-left: 2rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
