@import './base.css';

nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  min-width: 11rem;
  max-width: 11rem;
  height: 100vh;

  background-color: var(--color-background);
  box-shadow: inset 0px 0px 3px 0px var(--color-hover);
}

.nav-btn {
  font-family: var(--font-roboto);
  color: var(--color-text);
  text-align: left;
  padding-left: 1.375rem;
  min-height: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-btn:hover,
.category-btn:hover {
  background-color: var(--color-hover);
}

.btn-active {
  background-color: var(--color-hover) !important;
}

.dropdown-menu {
  font-family: var(--font-roboto);
  display: block;
  height: 100%;
  background-color: var(--color-background);
  box-shadow: inset 0px 2px 3px 0px var(--color-hover);
}

.category-btn {
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: left;
  padding-left: 2rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.settings-btn {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0.375rem 0.375rem;
  width: 2rem;
  height: 2rem;
}

.settings-icon {
  stroke: var(--color-settings-icon);
  width: 1.625rem;
}

.settings-icon:hover {
  fill: transparent;
  stroke: var(--color-text);
}
