nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  min-width: 11rem;
  max-width: 11rem;
  height: 100vh;

  background-color: #bdbdbd;
}

nav > button,
.nav-btn {
  text-align: left;
  padding-left: 1.375rem;
  min-height: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

nav > button:hover,
.category-btn:hover {
  background-color: #757575;
}

.btn-active {
  background-color: #757575 !important;
}

.nav-dropdown-shadow {
  /* box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75); */
}

/* .open-modal-btn {
  color: #212529;

  font-size: 0.875rem;
  font-weight: bold;

  cursor: pointer;
  transition: all 0.3s;
}

.open-modal-btn:hover,
.open-modal-btn:active {
  background-color: #e8e9a2;
} */

.dropdown-menu {
  display: block;
  height: 100%;
  background-color: #b8b8b8;
  box-shadow: inset 0px 2px 3px 0px rgba(107, 107, 107, 1);
}

.category-btn {
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: left;
  padding-left: 2rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
